<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AWAKENS</title>

    <link rel="stylesheet" href="static/css/photon.css" >
    <link rel="stylesheet" href="static/css/app.css" >
  </head>

  <body>
    <div class="window">

      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title">AWAKENS</h5>
              <span class="nav-group-item active crrent" data-pane="pane-1">
                <span class="icon icon-drive"></span>
                Genomes
              </span>
            <nav class="nav-group">
              <h5 class="nav-group-title">App</h5>
              <span class="nav-group-item" data-pane="pane-2">
                <span class="icon icon-search"></span>
                Genotype Viewer
              </span>
              <span class="nav-group-item" data-pane="pane-3">
                <span class="icon icon-chart-pie"></span>
                Coffee Consumption
              </span>
              <!-- <span class="nav-group-item"> -->
              <!--   <span class="icon icon-chart-pie"></span> -->
              <!--   Alzheimer's disease -->
              <!-- </span> -->
            </nav>
          </div>

          <div id="pane-1" class="pane pane-content current">
            <table class="table-striped">
              <thead>
                <tr>
                  <th width="10%">ID</th>
                  <th>File</th>
                  <th>Sample Name</th>
                  <th>Sample Index</th>
                </tr>
              </thead>
              <tbody id="genomes">
                <tr v-for="genome in genomes">
                  <td>{{ genome.id }}</td>
                  <td>{{ genome.filePath }}</td>
                  <td>{{ genome.sampleName }}</td>
                  <td>{{ genome.sampleIndex }}</td>
                </tr>
              </tbody>
            </table>

            <footer class="toolbar toolbar-footer">
              <div class="toolbar-actions">
                <button class="btn btn-default" id="select-file">
                  +
                </button>
              </div>
            </footer>
          </div>

          <div id="pane-2" class="pane pane-content">
            <div class="padded">
              <form id="genome_choices_viewer">
                <select class="form-control" v-model="selected">
                  <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                  </option>
                </select>
                <!-- <span>Selected: {{ selected }}</span> -->
              </form>
            </div>

            <div id="genotype_query">
              <ul class="list-group">
                <li class="list-group-header">
                  <h4>Genotype Viewer</h4>
                </li>
                <li class="list-group-header">
                  <input v-model="location" v-on:keyup.enter="fetch" class="form-control" type="text" placeholder="20:17330">
                </li>
              </ul>
              <div class="padded">

                <table class="table-striped">
                  <thead>
                    <tr>
                      <th>Sample Name</th>
                      <th>Chrom</th>
                      <th>Position</th>
                      <th>SNP ID</th>
                      <th>Genotype</th>
                      <th>Alleles</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ genotype.sampleName }}</td>
                      <td>{{ genotype.genotypes[0].chrom }}</td>
                      <td>{{ genotype.genotypes[0].position }}</td>
                      <td>{{ genotype.genotypes[0].snpId }}</td>
                      <td>{{ genotype.genotypes[0].genotype }}</td>
                      <td>{{ genotype.genotypes[0].alleles }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="pane-3" class="pane pane-content">
            <div class="padded">
              <form id="genome_choices_coffee">
                <select class="form-control" v-model="selected">
                  <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                  </option>
                </select>
                <!-- <span>Selected: {{ selected }}</span> -->
              </form>
            </div>

            <ul class="list-group">
              <li class="list-group-header">
                <h4>Coffee consumption</h4>
              </li>
              <li class="list-group-item">
                <img class="img-circle media-object pull-left" src="static/img/coffee.png" width="32" height="32">
                <div class="media-body">
                  <strong>List item title</strong>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </li>
              <li class="list-group-item">
                <img class="img-circle media-object pull-left" src="static/img/coffee.png" width="32" height="32">
                <div class="media-body">
                  <strong>List item title</strong>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </li>
              <li class="list-group-item">
                <img class="img-circle media-object pull-left" src="static/img/coffee.png" width="32" height="32">
                <div class="media-body">
                  <strong>List item title</strong>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
  </body>
</html>
